body {
  margin: 0;
  padding: 0;
}

.button-list button,
.component-display {
  padding: 40px 80px;
  font-size: 26px;
}

button {
  background-color: rgb(228, 228, 228);
 
}

.component-display {
  background-color: grey;
  text-align: right;
  color: #fff;
}

.button-list .operation {
  background-color: yellow;
}

